@media screen and (min-width: 37.5rem) {
    .info-wrapper {
        display: flex;
        justify-content: right;
    }

    .copyright-wrapper {
        gap: 0.4rem;
        flex-direction: row;
    }

    .dot-seperator {
        display: unset;
    }

    .footer-name,
    .last-modified,
    .copyright,
    .current-year {
        font-size: 0.7rem;
    }

    input[type="submit"] {
        border-radius: 8px;
        width: 150px;
        margin-left: 250px;
        font-size: 1rem;

    }

    #product-name,
    #date,
    #user-name,
    #written-review {
        max-width: 400px;
    }

    .star-rating {
        justify-content: unset;
    }

    form {
        justify-items: center;
    }

    .copyright-wrapper {
        font-size: 16px;
    }
}